/* Buttons Display */
#buttonsDisplay {
	position:absolute; 
	top:460px; /* Top position in pixels */
	left:600px; /* Left position in pixels */
	width:200px; /* Width of button display in pixels */
	height:137px; /* Height of button display in pixels */
	border:3px solid #000000; /* Width, style and colour of border */
}

#mapButton, #solveButton {
  font-family: georgia; /* Font */
  font-weight: bold; /* Style of font */
  color: #000103 !important; /* Colour of font */
  font-size: 15px; /* Size of font */
  text-shadow: 1px 1px 0px #7CACDE; /* Size and colour of text shadow */
  box-shadow: 1px 1px 1px #BEE2F9; /* Size and colour of box shadow */
  padding: 7px 22px; /* Button padding */
  -moz-border-radius: 14px; /* moz preset */
  -webkit-border-radius: 14px; /* webkit preset */
  border-radius: 14px; /* Radius of border */
  border: 4px outset #7F8087; /* Size and colour of border */
  background: #B5BBBD; /* Background colour */
  position:relative; 
  left:50px; /* Left position */
}

/* When the mouse is hovered over the button */
#mapButton:hover, #solveButton:hover { 
  color: #000103 !important; /* Hover colour */
  background: #CCD0E6; /* Background hover colour */
}